<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PhotoShare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.photoshare.photo-share</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.1064591086523-02pv6uol5nsvc953mkkgrqcajpp1po77</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1064591086523-02pv6uol5nsvc953mkkgrqcajpp1po77</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.photoshare.photo-share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photoshare</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>photoshare.ai</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>PhotoShare needs camera access to take and upload photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PhotoShare needs permission to save photos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PhotoShare needs photo library access to select and share photos.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Outfit-Light.ttf</string>
		<string>Fonts/Outfit-Regular.ttf</string>
		<string>Fonts/Outfit-Medium.ttf</string>
		<string>Fonts/Outfit-SemiBold.ttf</string>
		<string>Fonts/Outfit-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CapacitorPlugins</key>
	<dict>
		<key>EventPhotoPicker</key>
		<dict>
			<key>class</key>
			<string>EventPhotoPicker</string>
		</dict>
		<key>UploadManager</key>
		<dict>
			<key>class</key>
			<string>UploadManager</string>
		</dict>
		<key>PhotoLibraryMonitor</key>
		<dict>
			<key>class</key>
			<string>PhotoLibraryMonitor</string>
		</dict>
		<key>QRScanner</key>
		<dict>
			<key>class</key>
			<string>QRScanner</string>
		</dict>
		<key>AppPermissionPlugin</key>
		<dict>
			<key>class</key>
			<string>AppPermissionPlugin</string>
		</dict>
		<key>PhotoEditorPlugin</key>
		<dict>
			<key>class</key>
			<string>PhotoEditorPlugin</string>
		</dict>
		<key>AutoUploadPlugin</key>
		<dict>
			<key>class</key>
			<string>AutoUploadPlugin</string>
		</dict>
		<key>UploadStatusOverlay</key>
		<dict>
			<key>class</key>
			<string>UploadStatusOverlay</string>
		</dict>
		<key>CustomCameraPlugin</key>
		<dict>
			<key>class</key>
			<string>CustomCameraPlugin</string>
		</dict>
		<key>NativeGalleryPlugin</key>
		<dict>
			<key>class</key>
			<string>NativeGalleryPlugin</string>
		</dict>
		<key>BulkDownloadPlugin</key>
		<dict>
			<key>class</key>
			<string>BulkDownloadPlugin</string>
		</dict>
		<key>FCMTokenPlugin</key>
		<dict>
			<key>class</key>
			<string>FCMTokenPlugin</string>
		</dict>
		<key>DeepLinkRouter</key>
		<dict>
			<key>class</key>
			<string>DeepLinkRouter</string>
		</dict>
		<key>PerformanceMonitorPlugin</key>
		<dict>
			<key>class</key>
			<string>PerformanceMonitorPlugin</string>
		</dict>
	</dict>
</dict>
</plist>
